<% layout("layout") -%>

<div class="row">
  <% if(comps.length) {%> <% comps.forEach(val => { %>
    
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 m-2">
    <div class="card" style="width: 15rem">
      <img
        src="/<%= val.imagePath %>"
        alt="image"
        width="186"
        height="180"
        class="card-img-top"
      />

      <div class="card-body">
        <a href="/company/profile/<%= val._id %>"><h5 class="card-title"><i><%= val.name %></i></h5></a>
        <p class="card-text">
            <span class="d-flex align-items-center">*****</span>
            <ul style="list-style: none" class="p-0 m-0">
                <li><i class="fa fa-building"></i> <%= val.address %></li>
                <li><i class="fa fa-city"></i> <%= val.city %></li>
                <li><i class="fa fa-flag"></i> <%= val.country %></li>
                <li><i class="fa fa-desktop"></i> <%= val.website %></li>
            </ul>
        </p>
      </div>
    </div>
    
  </div>

  <%}) } else{ %> 
    
        
   <div style="margin-top: 10px">
       <div class="text-muted text-center"> <i>There's nothing to show</i>.</div>
    </div>
   

    <% }%>

</div>